ConveyorUtility.Bunker/ConveyorUtility.Bunker.Console/obj/
ConveyorUtility.Bunker/ConveyorUtility.Bunker.Core/obj/
ConveyorUtility.Bunker/ConveyorUtility.Bunker.Core/bin/
ConveyorUtility.Bunker/ConveyorUtility.Bunker.Service/obj/
ConveyorUtility.Bunker/ConveyorUtility.Bunker.Service/bin/
ConveyorUtility.Bunker/.vs/
ConveyorUtility.Bunker/TestResults/
ConveyorUtility.Bunker/ValidateServiceTests/bin/
ConveyorUtility.Bunker/ValidateServiceTests/obj/
